{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ title }}<a class="btn btn-lg btn-success pull-right" href="{{ url_for('new', userid=user.username) }}">New Character</a></h1>
        <br>
        <table id="user-characters" class="table">
            <thead><th>Character Name</th><th class="text-center">Class</th>
                   <th class="text-center">Level</th><th></th><th></th></thead>
            {% for char in user.characters %}
                <tr><td>
                    <a href="{{ url_for('character', userid=user.username, characterid=char.id) }}">
                        {{ char.name }}
                    </a></td>
                    <td class="text-center">{{ char.class_name|title }}</td>
                    <td class="text-center">{{ char.level }}</td>
                    <td class="text-center"><a href="">Edit</a></td>
                    <td class="text-center"><a href="">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
